<% include partials/_header %>

<div class="container">

<p><strong><h1>You're Done!</h1></strong></p>

<script>
    setTimeout(function() {
      window.location.href="/"
    }, 1500);
</script>

</div>

</body>
</html>