<% include partials/_header %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Customer</title>
</head>
<body>
<div class="class container">
<form action="/clientAccount" method="post">
<div class="form-group">
  <label for="customer">Customer Last Name</label>
  <div class="col-sm-6">
    <input type="text" class="form-control" name="customer" placeholder="Create account owner" required autofocus="required">
  </div>
</div>
<button type="submit" value="customer" class="btn btn-primary">Save</button>
</form>
</div>
</body>
</html>